/* ### VARIABLES GENERALES 
------------------------------------------------ */
:root {
    --input-bg-color: #F5F5F5;
    --container-bg-color: #EBEBEB;
    --container-bg-color2: #BDBDBD;
    --button-bg-color: #E0E0E0;
    --button-hover-bg-color: #BDBDBD;
    --title-bg-color: #EBEBEB;
    --input-border-color: #D3D3D3;
    --text-color: #000000;

    --font-title0: 50px;
    --font-title1: 22px;
    --font-title2: 18px;
    --font-title3: 14px;
    --font-title4: 12px;
    --font-subtitle1: 18px;
    --font-subtitle2: 16px;
    --font-items: 12px;
    --font-items-small: 12px;
    --font-data: 12px;

    /* Sombra suave y delicada unificada */
    --shadow-soft: 8px 8px 15px -3px rgba(0, 0, 0, 0.12), 4px 4px 6px -2px rgba(0, 0, 0, 0.08);
    --shadow-strong-text: 5px 5px 5px rgba(0, 0, 0, 1);
}



/* ### CONTENEDOR PRINCIPAL 
------------------------------------------------ */
.gradio-container {
    /* background-image: asignada en formato Base64 en app.py */
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}



/* ### ESTILOS PARA LA PORTADA PRINCIPAL 
------------------------------------------------ */
.portrait-bg-1 { /* Área izquierda de la portada: imagen de fondo y título */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 450px !important;
    width: 60% !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 25px !important;
    padding: 30px !important;
    margin-bottom: 20px !important;
}
.portrait-bg-2 { /* Área derecha de la portada: fondo gris y subtítulo */
    background-color: var(--container-bg-color2) !important;
    border-radius: 25px !important;
    padding-left: 10px !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    min-height: 520px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
}
.portrait-bg-video { /* Contenedor para el video y el título */
    background-color: var(--container-bg-color) !important;
    position: relative;
    width: 100%;
    min-height:520px;
    overflow: hidden;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 25px;
    display: flex;
}
.video-bg { /* El video se posiciona de forma absoluta para quedar al fondo */
    /* Los tres parámetros siguientes ubican el video, según las dimensiones que posea */
    left: 0%; /* Punto de origen horizontal en el contenedor padre */
    top: 0%; /* Punto de origen vertical en el contenedor padre */
    transform: translate(0%, -12%); /* Desplazamiento horizontal y vertical, como % de las dimensiones del video */
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* width: auto;
    height: auto; */
    z-index: 0; /* Capa inferior */
    object-fit:cover; /* El video cubra el área sin deformarse */
}
.portrait-title, .portrait-title * { /* El título tiene posición relativa sobre el video */
    position: relative;
    z-index: 1;
    text-shadow: var(--shadow-strong-text) !important;
    line-height: 1.1 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: var(--font-title0) !important;
    text-align: left !important;
    margin-top: -5px !important;
    margin-left: 5px !important;
}
.portrait-subtitle, .portrait-subtitle * {
    font-size: var(--font-title2) !important;
    font-weight: bold !important;
    margin-top: 10px !important;
    line-height: 1.3 !important;
    text-shadow: var(--shadow-soft) !important;
    color: var(--text-color) !important;
    text-align: right !important;
    max-width: 90% !important;
    margin-left: auto !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    display: block !important; /* Para que los márgenes funcionen */
}



/* ### CONTENEDORES GENERALES
------------------------------------------------ */
.custom-tab {
    /* background-image: asignada en formato Base64 en app.py */
    border-radius: 10px !important;
    border: none !important;
    padding-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    box-shadow: var(--shadow-soft) !important;
    width: 100% !important;
    height: 100% !important;
}
.custom-tab-2 {
    /* background-image: asignada en formato Base64 en app.py */
    border-radius: 10px !important;
    border: none !important;
    /*padding-top: 0px !important;
    padding-bottom: 0px !important;*/
    box-shadow: var(--shadow-soft) !important;
    width: 100% !important;
    /*height: 100% !important;*/
    margin-top: 28px !important;
    margin-bottom: 0px !important;
}



/* ### CONTENEDOR ENCABEZADO 
------------------------------------------------ */
.header-tab {
    /* background-image: asignada en formato Base64 en app.py */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
    border: none !important;
    padding: 15px;
    box-shadow: var(--shadow-soft) !important;
    width: 100% !important;
    min-height: 50px;
}



/* ### CONTENEDOR PARA MOSTRAR/OCULTAR SU CONTENIDO
   ### Hay que aplicar todos estos estilos para que no aparezca
   ### un borde rojo parpadeante muy molesto 
------------------------------------------------ */
.special-panel, 
.special-panel.stale, 
.special-panel.pending, 
.special-panel.error {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    animation: none !important;
    transition: none !important;
    background: transparent !important;
}
/* Eliminar la línea roja específica de validación de Gradio */
.special-panel > div {
    border: none !important;
}
/* Ocultar el indicador de carga que genera el parpadeo */
.special-panel .generating {
    display: none !important;
    visibility: hidden !important;
}



/* ### CONTENEDOR DE TÍTULOS 
------------------------------------------------ */
.title-tab {
    /* background-image: asignada en formato Base64 en app.py */
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 8px !important;
    height: 50px !important;
    width: 100% !important;
    vertical-align: middle !important;
}
.title-text {
    font-weight: bold !important;
    font-size: var(--font-title1) !important;
    color: var(--text-color) !important;
    text-align: left !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.subtitle-text {
    font-weight: bold !important;
    font-size: var(--font-subtitle1) !important;
    color: var(--text-color) !important;
    text-align: left !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    /*padding-top: 0px !important;
    padding-left: 0px !important;*/
}
.title-group {
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    color: var(--text-color) !important;
    text-align: left !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}
.title-group-2 {
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    color: var(--text-color) !important;
    text-align: left !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}




/* ### LISTA DESPLEGABLE  
------------------------------------------------ */
.custom-dropdown {
    /* Para todo el conjunto */
    background-color: var(--input-bg-color) !important;
    border: 1px solid var(--input-border-color) !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 10px !important;
    margin-bottom: 8px !important;
}
.custom-dropdown span[data-testid="block-info"] {
    /* Para el título */
    color: var(--text-color) !important;
    font-size: var(--font-title3) !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
    display: block !important;
}
.custom-dropdown ul.options li.item {
    /* Para las opciones de la lista */
    font-size: var(--font-title4) !important;
}
.custom-dropdown .token-view,
.custom-dropdown input,
.custom-dropdown .single-select {
    /* Para el item seleccionado de la lista */
    font-size: var(--font-items) !important;
    color: var(--text-color) !important;
}
.custom-dropdown-small {
    /* Para todo el conjunto */
    background-color: var(--input-bg-color) !important;
    border: 1px solid var(--input-border-color) !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 5px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.custom-dropdown-small span[data-testid="block-info"] {
    /* Para el título */
    color: var(--text-color) !important;
    font-size: var(--font-title4) !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
    display: block !important;
    padding: 0px !important;
}
.custom-dropdown-small ul.options li.item {
    /* Para las opciones de la lista */
    font-size: var(--font-items-small) !important;
}
.custom-dropdown-small .token-view,
.custom-dropdown-small input,
.custom-dropdown-small .single-select {
    /* Para el item seleccionado de la lista */
    font-size: var(--font-items-small) !important;
    color: var(--text-color) !important;
    padding: 0px !important;
}



/* ### LISTA DE BOTONES DE OPCIÓN  
------------------------------------------------ */
.custom-radio {
    /* Para todo el conjunto */
    background-color: var(--input-bg-color) !important;
    padding: 10px !important;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    margin-bottom: 8px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}
.custom-radio span[data-testid="block-info"] {
    /* Para el título */
    color: var(--text-color) !important;
    font-size: var(--font-title3) !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
    display: block !important;
}
.custom-radio label {
    /* Para las opciones */
    background-color: var(--input-bg-color) !important;
    border: none !important;
    font-weight: bold !important;
    font-size: var(--font-title4) !important;
    color: var(--text-color) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.radio-horizontal { /* Para ubicar la etiqueta en la misma fila que las opciones */
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 15px !important;
}
.radio-horizontal .label-wrap {
    margin-bottom: 0 !important;
}
.radio-horizontal .gr-input-row {
    display: flex !important;
    flex-direction: row !important;
}


/* ### CASILLA DE VERIFICACIÓN  
------------------------------------------------ */
.custom-checkbox {
    background-color: var(--input-bg-color) !important;
    color: var(--text-color) !important;
    font-size: var(--font-title3) !important;
    font-weight: bold !important;
    padding: 10px !important;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    margin-bottom: 8px !important;
}
.custom-checkbox-2 {
    background-color: var(--input-bg-color) !important;
    color: var(--text-color) !important;
    font-size: var(--font-title3) !important;
    font-weight: bold !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}



/* ### BOTONES DE ACCIÓN  
------------------------------------------------ */
.custom-button {
    /* Para el estado pasivo */
    background-color: var(--button-bg-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    color: var(--text-color) !important;
    text-align: center !important;
    transition: all 0.2s ease !important;
    margin-bottom: 10px !important;
}
.custom-button:hover {
    /* Para el estado encima */
    background-color: var(--button-hover-bg-color) !important;
    transform: translateY(-1px);
}
.custom-button:active {
    /* Para el estado activo (click) */
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.custom-button2 {
    /* Para el estado pasivo */
    background-color: var(--button-bg-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    color: var(--text-color) !important;
    text-align: center !important;
    transition: all 0.2s ease !important;
    width: 50px !important;
    margin-top: -10px !important;
    margin-bottom: 38px !important;
}
.custom-button2:hover {
    /* Para el estado encima */
    background-color: var(--button-hover-bg-color) !important;
    transform: translateY(-1px);
}
.custom-button2:active {
    /* Para el estado activo (click) */
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.custom-button3 {
    /* Para el estado pasivo */
    background-color: var(--button-bg-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    box-shadow: var(--shadow-soft) !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: var(--font-title2) !important;
    color: var(--text-color) !important;
    text-align: center !important;
    transition: all 0.2s ease !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    height: 40px !important;
}
.custom-button3:hover {
    /* Para el estado encima */
    background-color: var(--button-hover-bg-color) !important;
    transform: translateY(-1px);
}
.custom-button3:active {
    /* Para el estado activo (click) */
    transform: translateY(2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}



/* ### TEXTO PARA CAMPO INFORMATIVO 
------------------------------------------------ */
.info-display-1 { /* Grande */
    font-weight: bold !important;
    font-size: var(--font-title2) !important;
    margin-top: -4px !important;
}
.info-display-2 { /* Pequeño */
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    margin-bottom: 0px !important;
}
.info-display-2a {
    font-weight: bold !important;
    font-size: var(--font-title3) !important;
    margin-bottom: 5px !important;
}
.info-display-3 { /* Intermedio */
    font-weight: bold !important;
    font-size: var(--font-subtitle2) !important;
    margin-bottom: 0px !important;
    background-color: var(--input-bg-color) !important;
    border-radius: 10px !important;
    padding: 5px !important;
}
.info-display-4 {
    font-size: var(--font-title3) !important;
    font-weight: bold !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}
.info-display-5 {
    font-size: var(--font-title3) !important;
    background-color: var(--input-bg-color) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-align: center !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: -2px !important;
    padding-bottom: -2px !important;
}




/* ### CELDAS DE DATAFRAMES  
------------------------------------------------ */
table td,
table th,
.dataframe,
.dataframe td,
.dataframe th,
.table-wrap table,
.table-wrap td,
.table-wrap th {
    font-size: var(--font-data) !important;
}



/* ### PARA UBICAR COMPONENTES UNO A LA PAR DEL OTRO
------------------------------------------------ */
.no-stack {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    gap: 10px !important;
}
.no-stack > .form {
    min-width: 0 !important; /* Anula el mínimo de 320px de Gradio */
}



/* ### FORZAR LAS DIMENSIONES DE LOS GRÁFICOS 
   -------------------------------------------------- */
.custom-graph {
    height: 200px !important; 
    overflow-y: auto !important;
}